(
    start_position: (x: 1200, y: 1452),
    powerups: [
        (
            position: ( x: 500, y: 500 ),
            kind: Weapon(Mace),
            timeout: 0,
        )
    ],
    checkpoints: [
        (x: 1700, y: 1750), // Lower right
        (x: 1750, y: 250), // Upper right
        (x: 470, y: 250), // Upper left
        (x: 500, y: 1530), // Lower left
    ],
    static_objects: [
        (
            position: ( x: 740, y: 620 ),
            kind: Tree,
            variant: 0,
        ),
        (
            position: ( x: 760, y: 655 ),
            kind: Tree,
            variant: 1,
        ),
        (
            position: ( x: 789, y: 710 ),
            kind: Tree,
            variant: 2,
        ),
        (
            position: ( x: 786, y: 1460 ),
            kind: Tire,
            variant: 0,
        )
    ]
)
